.splide__arrow {
    margin: 0 20px;
}

.splide__arrow--prev {
    left: -60px;
}

.splide__arrow--next {
    right: -60px;
}

.splide__slide {
    margin: 8px;
}

.carousel-card {
    width: 195px;
    height: 250px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.carousel-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 216, 44, 0.5);
}

.carousel-card-image {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.carousel-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}

.splide__slide.is-active .carousel-card {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 216, 44, 0.5);
}